.center{
  position: absolute;
  top: 80%;
  left: 80vw;
}

.hor{
  display: flex;
  width: 100%;
  justify-content: center;
}

.form{
  margin-top: 18px;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.right{
  display: flex;
  justify-content: flex-end;
  width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fit{
  width: 800px;
  height: max-content;
}

.blue{
  margin-top: 40px;
  background-color: blue;
  height: 40px;
}

.green{
  background-color: green;
}

.flex{
  display: flex;
}
body{
  font-family: 'Sen', sans-serif;
}

.ws{
  background-color: whitesmoke;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

div{
  overflow: hidden;
}
.br{
  border-left: 1px solid rgb(194, 194, 194);
  /* height:100vh; */
}

.st-end{
  align-content: space-between;
  justify-content: space-between;
  height:85vh;
}

.cen{
  justify-content: center;
  align-items: center;
  width: 100%;
}